*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #333;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
}
.nav-link{
     list-style: none;
     display: flex;
     gap: 25px;
}
.nav-link li a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.3s;
}
.nav-link li a:hover{
    color:#00bcd4;
}
menu-toggle{
    display: none;
    font-size: 1.8em;
    cursor: pointer;
}
@media (max-width:768px)
{
   .nav-link{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: #444;
    padding: 10px;
   }
   .nav-link:active{
       display: flex;
   }
   menu-toggle{
    display: block;
   }
}
    
